<!DOCTYPE html>
<html lang="en">

<head>
    <title>Crear incidencia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <style>
        .select2-container {
            width: 100% !important;
        }

        .select2-container .select2-selection--single {
            height: 3em !important;
            z-index: 9999;
        }

        .custom-height {
            margin-top: 20px;
        }

        label[for="catalogCode"] {
            margin-top: 25px;
        }
    </style>

</head>

<body>
    <header class="p-3 bg-dark text-white fixed-top">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" style="fill: #ff8800;">
                        <use xlink:href="#icon" />
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Inicio</a></li>
                    <li><a href="/ui/incidents" class="nav-link px-2 text-white">Incidencias</a></li>
                    <li id="mis-incidencias" class="nav-item">
                        <a class="nav-link px-2 text-white" href="/ui/incidents/my-incidents">Mis incidencias</a>
                    </li>
                    <li><a href="/ui/incidents/inaccessible-accessibility-features"
                            class="nav-link px-2 text-white">Medidas de accesibilidad</a>
                    </li>
                    <li id="cargar-csv" class="nav-item">
                        <a class="nav-link" href="/ui/incidents/upload_csv">Cargar</a>
                    </li>
                    <li><a href="/faqs" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="/nosotros" class="nav-link px-2 text-white">Nosotros</a></li>
                    <li><a href="/contacto" class="nav-link px-2 text-white">Contacto</a></li>
                </ul>

                <form id="auth" class="d-flex">
                    <a type="button" href="/ui/incidents/login" class="btn me-2 btn-outline-light">Ingresar</a>
                    <a type="button" href="/ui/incidents/register-user" class="btn me-2 btn-warning">Registrarse</a>
                </form>
            </div>
        </div>
    </header>

    <div class="container mt-3">
        <div class="row justify-content-between pt-5">
            <div class="col-10 pt-3">
                <h2>Crear nueva incidencia</h2>
            </div>
            <div class="col-2 pt-3">
                <a class="btn btn-outline-primary float-right" href="/ui/incidents">Volver</a>
            </div>

            <form id="form">
                <div class="form-floating mt-3 mb-3">
                    <select class="form-select" id="line" name="line"></select>
                    <label for="line">Línea</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <select class="form-select" id="station" name="station"></select>
                    <label for="station">Estación</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <select class="form-select custom-height" id="catalogCode" name="catalogCode"></select>
                    <label for="catalogCode">Código de Catálogo</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="date" class="form-control" id="reportDate" placeholder="Enter reportDate"
                        name="reportDate">
                    <label for="reportDate">Fecha</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="description" placeholder="Enter description"
                        name="description">
                    <label for="description">Descripcion</label>
                </div>
                <button type="submit" class="btn btn-primary">Finalizar</button>
            </form>
        </div>
    </div>

    <script type="module" src="/user.js"></script>
    <script type="module">
        import { getToken, setUser } from '/user.js';
        setUser();

        $(document).ready(function () {
            const form = $("#form");

            const typeTranslations = {
                ELEVATOR: 'Ascensor',
                RAMP: 'Rampa',
                ESCALATOR: 'Escalera mecánica',
                SIGNAGE: 'Señalización',
            };

            $('#catalogCode').select2({
                ajax: {
                    url: "/api/incidents/accessibility-features",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        const station = $('#station').val();
                        const line = $('#line').val();

                        return {
                            term: params.term,
                            station: station,
                            line: line,
                            _type: 'query',
                            q: params.term,
                        };
                    },
                    processResults: function (data) {
                        const formattedResults = data.items.map(item => {
                            const typeTranslation = typeTranslations[item.type] || item.type;
                            const displayName = `${typeTranslation} (${item.catalogCode})`;

                            return {
                                id: item.catalogCode,
                                text: displayName,
                            };
                        });

                        return {
                            results: formattedResults,
                        };
                    },
                    cache: true,
                },
            });

            $('#line').select2({
                ajax: {
                    url: "/api/incidents/lines",
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        const formattedResults = data.map(item => {
                            return {
                                id: item.id,
                                text: item.name,
                            };
                        });

                        return {
                            results: formattedResults,
                        };
                    },
                    cache: true,
                },
            });

            $('#station').select2({
                ajax: {
                    url: function (params) {
                        const lineId = $('#line').val();
                        return `/api/incidents/lines/${lineId}/stations`;
                    },
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            term: params.term,
                            _type: 'query',
                            q: params.term,
                        };
                    },
                    processResults: function (data) {
                        const formattedResults = data.map(item => {
                            return {
                                id: item.id,
                                text: item.name,
                            };
                        });

                        return {
                            results: formattedResults,
                        };
                    },
                    cache: true,
                },
            });

            form.submit(function (e) {
                e.preventDefault();

                const formatDate = (inputDate) => {
                    const date = new Date(inputDate);
                    const day = date.getDate().toString().padStart(2, '0');
                    const month = (date.getMonth() + 1).toString().padStart(2, '0');
                    const year = date.getFullYear();
                    return `${day}${month}${year}`;
                };

                const data = {
                    catalogCode: $('#catalogCode').val(),
                    reportDate: formatDate($('#reportDate').val()),
                    description: $('#description').val(),
                };

                $.ajax({
                    url: '/api/incidents',
                    method: 'POST',
                    contentType: 'application/json',
                    headers: {
                        'token': getToken(),
                    },
                    data: JSON.stringify(data),
                    success: function (responseData) {
                        if (responseData.status === 400) {
                            alert(responseData.message);
                        } else {
                            window.location.href = "/ui/incidents";
                        }
                    },
                    error: function () {
                        alert('Error en la solicitud AJAX');
                    }
                });
            });
        });
    </script>


</body>

</html>