<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incidencias</title>
</head>

<body>
    <h1>Incidencias</h1>

    <ul id="incidentList"></ul>

    <div id="pagination">
        <button id="previousPageButton">Previous</button>
        <span id="currentPageSpan">Page 1 of {{totalPages}}</span>
        <button id="nextPageButton">Next</button>
    </div>

    <script>
        var pageSize = {{pageSize}};
        var incidentList = document.getElementById('incidentList');
        var previousPageButton = document.getElementById('previousPageButton');
        var nextPageButton = document.getElementById('nextPageButton');
        var currentPage = 1;
        var totalPages = {{totalPages}}; // Asegúrate de obtener el valor correcto desde el servidor

        function updateCurrentPageSpan() {
            var currentPageSpan = document.getElementById('currentPageSpan');
            currentPageSpan.textContent = `Page ${currentPage} of ${totalPages}`;
        }

        function loadIncidents(page) {
            var startIndex = (page - 1) * pageSize;
            var url = `/api/incidents?page=${page}&pageSize=${pageSize}`;

            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    incidentList.innerHTML = '';

                    data.forEach(incident => {
                        var listItem = document.createElement('li');
                        listItem.innerHTML = `
                            <strong>Id:</strong> ${incident.id}<br>
                            <strong>Código de catálogo:</strong> ${incident.catalogCode}<br>
                            <strong>Fecha de reporte:</strong> ${incident.reportDate}<br>
                            <strong>Descripcion:</strong> ${incident.description}<br>
                            <strong>Reportó:</strong> ${incident.reportedBy}<br>
                            <strong>Estado:</strong> ${incident.state}<br>
                        `;
                        incidentList.appendChild(listItem);
                    });

                    updateCurrentPageSpan();
                })
                .catch(error => console.error('Error:', error));
        }

        if (previousPageButton) {
            previousPageButton.addEventListener('click', function () {
                if (currentPage > 1) {
                    currentPage--;
                    loadIncidents(currentPage);
                }
            });
        }

        if (nextPageButton) {
            nextPageButton.addEventListener('click', function () {
                if (currentPage < totalPages) {
                    currentPage++;
                    loadIncidents(currentPage);
                }
            });
        }

        loadIncidents(currentPage);
    </script>

</body>

</html>
