<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cargar Archivo CSV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #f8f9fa;">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title">Cargar Archivo CSV</h5>
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" id="fileUploadForm">
                        <div class="mb-3">
                            <label for="file" class="form-label">Seleccione un archivo CSV:</label>
                            <input type="file" class="form-control" id="file" name="file" accept=".csv, .tsv">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="uploadFile()">Cargar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
function uploadFile() {
    const formData = new FormData(document.getElementById("fileUploadForm"));

    fetch("/api/incidents/upload_csv", {
        method: "POST",
        body: formData
    })
    .then(response => {
        if (response.ok) {
            alert("Archivo cargado con éxito.");
        } else {
            alert("Error al cargar el archivo. Por favor, inténtalo de nuevo.");
        }
    })
    .catch(error => {
        console.error("Error:", error);
        alert("Error al cargar el archivo. Por favor, inténtalo de nuevo.");
    });
}
</script>
</body>
</html>
